<div class="card">
    <h2 style="text-align: right; color:rgb(177, 48, 26)" class="card-header">Search Gadget</h2>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <h1 style="color: slateblue;" class="navbar-brand" >Search Panel</h1>
    
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">  </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" name="id" [(ngModel)]="id" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" (click)="display()" type="submit">Search</button>
        </form>
      </div>
    </nav>
  
  <br><ul><p style="color: rgb(58, 80, 51);">see available gadgets by searching by their names and or category (e.g- 'name' Apple, samsung, redmi etc. 
    'category' mobile, laptop etc.) &nbsp;&nbsp;see <a routerLink="/pl" routerLinkActive="active">All Gadgets</a>
    or go to <a routerLink="" routerLinkActive="active">Home</a>
  </p></ul>
  
  <table class="table table-striped">
    <tr>
      <th>ID</th>
      <th>Gadget Name</th>
      <th>Imei No</th>
      <th>Price</th>
      <th>Owner</th>
      <th>Rating</th>
      <th>Category</th>
    </tr>
    <tr *ngFor="let e of productDetails">
      <td>{{e.id}}</td>
      <td>{{e.name}}</td>
      <td>{{e.imeino}}</td>
      <td>{{e.price}}</td>
      <td>{{e.owner}}</td>
      <td>{{e.rating}}</td>
      <td>{{e.category}}</td>
    </tr>
  </table>
  
  </div>