<div class="container">
    <div class="card">
      <div class="card-header">
        About
      </div>
      <div class="card-body">
        
        <p class="card-text">This is a basic gadget container app. It stores all gadgets inside it.<br>
        You can search gadgets, see all available gadgets and add your own gadgets here and bag item(s) and many more !. </p>
       <u> <h5 class="card-title">Features </h5></u>
        <a href="sf" class="btn btn-primary">Search Gadgets</a><br><br>
        <a href="pl" class="btn btn-info">Available Gadgets</a><br><br>
        <a href="ag" class="btn btn-success"> Add Gadget</a><br><br>
        <a href="cart" class="btn btn-warning"> Bag Items</a><br>
      </div>
    </div>
    </div>
    <div></div>
